
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>CNC生产自动化</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/AdminLTE/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap-Table/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Scripts/Highcharts-6.1.0/code/css/highcharts.css" rel="stylesheet" />

</head>
<body style="margin:5px;">
    <section class="content container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xs-6">

                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>83<sup style="font-size: 20px">%</sup></h3>
                        <p>料仓负载率</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="javscript:void(0)" class="small-box-footer">详情 >> <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>56<sup style="font-size: 20px">%</sup></h3>
                        <p>设备稼动率</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="javscript:void(0)" class="small-box-footer">详情 >> <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>44<sup style="font-size: 20px">%</sup></h3>
                        <p>任务完成率</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="javscript:void(0)" class="small-box-footer">详情 >> <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>6590</h3>
                        <p>累计加工完成</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="javscript:void(0)" class="small-box-footer">详情 >> <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-4 col-sm-5 col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">使用说明</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-12 text-warning font-bold">
                                <p>图标说明： 表示手动控制模式; 表示自动控制模式</p>
                                <p>智能旋转料仓：三色灯标志绿色(旋转),黄色(等待),红色(报警)</p>
                            </div>
                        </div>

                       <div class="" id="warehousechart">



                       </div>

                    </div>




                </div>
            </div>
            <div class="col-md-8 col-sm-7 col-xs-12" style="padding-left:0px;">
                <div class="box box-danger" id="getHeight">
                    <div class="box-header with-border">
                        <h3 class="box-title">实时信息</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-2 col-sm-4 text-center" style="height:28px;"><div class="bg-red"><span style="line-height:28px;">程序错误</span></div></div>
                        <div class="col-md-2 col-sm-4 text-center" style="height:28px;"><div class="bg-green"><span style="line-height:28px;">加工完成</span></div></div>
                        <div class="col-md-2 col-sm-4 text-center" style="height:28px;"><div class="bg-primary"><span style="line-height:28px;">加工中</span></div></div>
                        <div class="col-md-2 col-sm-4 text-center" style="height:28px;"><div class="bg-yellow"><span style="line-height:28px;">等待加工</span></div></div>
                        <div class="col-md-2 col-sm-4 text-center" style="height:28px;"><div class="bg-aqua"><span style="line-height:28px;">等待加工</span></div></div>
                        <div class="col-md-2 col-sm-4 text-center" style="height:28px;"><div class="bg-warning"><span style="line-height:28px;">上下料中</span></div></div>

                        <div class="col-md-2" style="padding-top:11px;">

                            <div>
                                <span class="bg-red" style="line-height:28px;padding:14px 35px;">程序错误</span>
                                <img src="~/Content/Images/rotatewarehouse/warehouse/error.png" />
                            </div>
                            <div>
                                <span class="bg-green" style="line-height:28px;padding:14px 35px;">加工完成</span>
                                <img src="~/Content/Images/rotatewarehouse/warehouse/error.png" />
                            </div>
                            <div>
                                <span class="bg-primary" style="line-height:28px;padding:14px 35px;">正在加工</span>
                                <img src="~/Content/Images/rotatewarehouse/warehouse/error.png" />
                            </div>
                            <div>
                                <span class="bg-yellow" style="line-height:28px;padding:14px 35px;">等待加工</span>
                                <img src="~/Content/Images/rotatewarehouse/warehouse/error.png" />
                            </div>
                            <div>
                                <span class="bg-warning" style="line-height:28px;padding:14px 35px;">上下料中</span>
                                <img src="~/Content/Images/rotatewarehouse/warehouse/error.png" />
                            </div>





                        </div>
                        <!---->
                        <div class="col-md-10" id="StorePanelfansjay" style="float:left;width:880px;height:630px;margin-top:10px;border-style:solid; border-width:1px; border-color:#000;background-image:url(/Content/Images/旋转料仓.png)">
                            <div id="stores1Panelfansjay" style="width:880px; height:630px;  font-family:arial">
                                <div id="storeContent" style="margin-left:200px; height:630px;margin-right:200px; ">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/HPlus/jquery.metisMenu.js"></script>
    <script src="~/Scripts/HPlus/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/HPlus/hplus.js"></script>
    <script src="~/Scripts/HPlus/contabs.js"></script>
    <script src="~/Scripts/MyNavigation.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/AdminLTE/adminlte.min.js"></script>
    <script src="~/Scripts/AdminLTE/demo.js"></script>
    <script src="~/Scripts/Bootstrap-Table/bootstrap-table.js"></script>
    <script src="~/Scripts/Bootstrap-Table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/Scripts/Highcharts-6.1.0/code/highcharts.js"></script>
    <script src="~/Scripts/MyWarehouse.js"></script>
    <script>
        $(function () {

            var chart = Highcharts.chart('warehousechart', {
                chart: {
                    type: 'area'
                },
                title: {
                    text: '料仓稼动率'
                },
                //subtitle: {
                //    text: '数据来源: <a href="https://thebulletin.metapress.com/content/c4120650912x74k7/fulltext.pdf">' +
                //        'thebulletin.metapress.com</a>'
                //},
                xAxis: {
                    allowDecimals: false
                },
                yAxis: {
                    title: {
                        text: '稼动率百分比'
                    },
                    labels: {
                        formatter: function () {
                            return this.value / 100 + '个';
                        }
                    }
                },
                tooltip: {
                    pointFormat: '{series.name} 生产 <b>{point.y:,.0f}</b>个零件'
                },
                plotOptions: {
                    area: {
                        pointStart: 1940,
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        }
                    }
                },
                credits: {
                    // enabled:true,                    // 默认值，如果想去掉版权信息，设置为false即可
                    text: 'Aosch智造管理系统',             // 显示的文字
                    href: 'http://www.aosch.com.cn',      // 链接地址
                    //position: {                         // 位置设置 
                    //    align: 'left',
                    //    x: 400,
                    //    verticalAlign: 'bottom',
                    //    y: -100
                    //},
                    //style: {                            // 样式设置
                    //    cursor: 'pointer',
                    //    color: 'red',
                    //    fontSize: '30px'
                    //}
                },
                series: [{
                    name: '1#料仓',
                    data: [null, null, null, null, null, 6, 11, 32, 110, 235, 369, 640,
                        1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468, 20434, 24126,
                        27387, 29459, 31056, 32982, 32040, 31233, 29224, 27342, 26662,
                        22156, 27912, 28999, 28265, 27826, 25579, 25722, 24826, 24605,
                        24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586,
                        22380, 21204, 17287, 1247, 13076, 12555, 12144, 11009, 10950,
                        11171, 10824, 10577, 10527, 10475, 10421, 10358, 10295, 10104]
                }, {
                    name: '2#料仓',
                    data: [null, null, null, null, null, null, null, null, null, null,
                        5, 25, 50, 120, 150, 200, 426, 660, 869, 1060, 1605, 2471, 3322,
                        4238, 5221, 6129, 7089, 8339, 9399, 10538, 11643, 13092, 14478,
                        15915, 17385, 19055, 21205, 23044, 25393, 27935, 30062, 32049,
                        33952, 35804, 37431, 39197, 45000, 43000, 41000, 39000, 37000,
                        35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
                        21000, 20000, 19000, 18000, 18000, 17000, 16000]
                    },
                    {
                        name: '3#料仓',
                        data: [null, null, null, null, null, null, null, null, null, null,
                            5, 25, 50, 120, 150, 200, 426, 660, 869, 1060, 1605, 2471, 3322,
                            4238, 5221, 6129, 7089, 8339, 9399, 10538, 11643, 13092, 14478,
                            15915, 17385, 19055, 21205, 23044, 25393, 27935, 30062, 32049,
                            33952, 35804, 37431, 39197, 45000, 43000, 41000, 39000, 37000,
                            35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
                            21000, 20000, 19000, 18000, 18000, 17000, 16000]
                    }]


            });
        })
    </script>
</body>
</html>
